<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.Oracle10gDialect
        </property>

        <property name="hibernate.connection.driver_class">
            oracle.jdbc.driver.OracleDriver
        </property>

        <!-- Assume test is the database name -->

        <property name="hibernate.connection.url">
            jdbc:oracle:thin:@//174.138.0.100:49161/xe
        </property>

        <property name="hibernate.connection.username">
            tosad
        </property>

        <property name="hibernate.connection.password">
            K,Zj4KsB9WAnkFTP^uAsDwzZuw4{k
        </property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the dataAccess schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.default_schema">tosad</property>


        <mapping class="com.tosad.brm.web.domain.businessRule.BusinessRuleTag"/>
        <mapping class="com.tosad.brm.web.domain.businessRule.BusinessRule"/>
        <mapping class="com.tosad.brm.web.domain.businessRule.BusinessRuleType"/>
        <mapping class="com.tosad.brm.web.domain.template.DatabaseType"/>
        <mapping class="com.tosad.brm.web.domain.template.Template"/>
        <mapping class="com.tosad.brm.web.domain.template.TemplateTag"/>
        <mapping class="com.tosad.brm.web.domain.project.Column"/>
        <mapping class="com.tosad.brm.web.domain.project.Table"/>
        <mapping class="com.tosad.brm.web.domain.project.Project"/>

    </session-factory>
</hibernate-configuration>