label {
  display: block;
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 20px;
}

select {
  //Styling
  box-sizing:border-box;
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  // Arrow
  background-image:  linear-gradient(45deg, transparent 50%, $primary 50%), linear-gradient(135deg, $primary 50%, transparent 50%), linear-gradient(to right, $light-gray, $light-gray);
  background-position: calc(100% - 20px) calc(1em + 2px),  calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;

  option {
    font-family: $primary-font;
  }
}

select:focus{
  background-image: linear-gradient(45deg, $primary 50%, transparent 50%), linear-gradient(135deg, transparent 50%, $primary 50%), linear-gradient(to right, $light-gray, $light-gray);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}

input,
select {
  box-sizing:border-box;
  height:32px;
  display:block;
  border: 0;
  padding: 6px 5px;
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 2px;
  margin-bottom:25px;
}

button {
  background-color: white;
  color: $dark-gray !important;
  border:none;
  width:142.5px;
  padding:8px;
  font-size:13px;
  border-radius:2px;
  float:left;
  outline: none;
  i{
    margin-right:5px;
  }
}

button:hover{
  cursor:pointer;
  background-color:$primary;
  color:white!important;
  transition: all .2s ease;
  box-shadow: 0 0 20px #adadad !important;
}

button:not(:first-child) {
  margin-left:15px;
}
