body {
  background-color: #eee;
  font-family: $primary-font;
}

.group {
  background-color: #e8e8e8;
  padding: 20px;
  border-left:2px solid $primary;
  margin-bottom: 20px;
}

.template-type-selector {
  border-bottom: 2px solid #dadada;
  width: 100%;
}

.template-raw {
  border-bottom: 2px solid #dadada;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
  background-color: #e4e4e4;
}

.groupinputbox {
  overflow: auto;
}

.error {
  color: $primary;
  margin-bottom: 15px;
}

.loader {
  color: $primary;
  font-size: 22px;
}

.loader-wrapper {
  text-align: center;
  width: 100%;
  padding: 20px;
}
